$padding: 30px;

.icon-delta:before {
    content: "Δ";
    font-size: 19px;
}

.or-comment-widget {
    &__content {
        @include display-flex;

        @include flex-direction(row);

        @include flex-wrap(wrap);

        .question {
            width: 100%;
            flex: 100% !important;
        }

        // override Draw widget rule
        input[type="text"][name="dn-comment"] {
            display: block;
        }

        &__tabs {
            margin-bottom: 20px;

            input[type=radio] {

                margin-right: 0 !important;
                width: 0 !important;
                border: none !important;

                &:focus {
                    box-shadow: none !important;

                    +span {
                        @include tab-focus;
                    }
                }

                &:not(:checked)+span {
                    color: $gray-light;
                }

                +span {
                    padding: 5px;

                    &:hover {
                        color: $gray-darker;
                    }
                }
            }
        }

        &__query-btns {
            @include display-flex;

            @include flex-direction(row);

            @include flex-wrap(nowrap);

            @include flex(1);

            white-space: nowrap;
            justify-content: flex-end;
            align-items: center;

            .btn {
                height: 40px;
            }

            .btn+.btn {
                margin-left: 20px;
            }
        }

        &__btn-submit {
            @extend .small;

            margin-bottom: 0;
            margin-top: 0;

            &.btn-default {
                // override .question .btn-default
                //padding: 10px 20px;
            }
        }

        &__user {
            @include display-flex;

            @include flex-direction(row);

            @include flex-wrap(wrap);

            margin-bottom: 10px; // push down Close/Update button on small screens

            &__dn-assignee {
                @include flex(1);

                display: inline-block;

                select {
                    display: inline-block;
                    margin-left: 10px;
                    margin-right: 20px;
                    width: 200px;
                }
            }

            &__dn-notify {
                width: 120px;
                align-self: center;
                display: inline-block;
                margin-right: -10px;
                margin-left: -10px;
            }
        }

        &__type {
            select {
                display: inline-block;
                margin-left: 10px;
                margin-right: 20px;
                max-width: 100px;
            }
        }

        &__history {
            margin-bottom: -50px;

            &.closed {
                .btn-more-history .icon {
                    @extend .icon-chevron-down;
                }

                tr+tr+tr+tr:not(:last-of-type) {
                    display: none;
                }

                .over {
                    display: inline;
                }
            }

            .over {
                display: none;
            }

            .btn-more-history {
                margin-top: 10px;

                .icon {
                    @extend .icon-chevron-up;
                }
            }

            table {
                @include font-normal;

                width: 100%;
                border-collapse: collapse;
                table-layout: fixed;
            }

            thead th {
                padding: 0 5px;
                width: 95px;
                text-align: center;

                &:first-of-type {
                    padding-left: 0;
                    width: auto;
                    text-align: left;
                }

                &:nth-of-type(2) {
                    width: 140px;
                }
            }

            td {
                padding: 3px 7px 3px 0;
                border-bottom: 1px solid $gray;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;

                &.overflowing {
                    cursor: pointer;
                }

                &.wrapping {
                    cursor: pointer;
                    white-space: normal;
                    overflow: auto;
                    text-overflow: initial;
                }

                &:last-of-type {
                    padding-right: 0;
                }
            }

            tbody tr:last-of-type td {
                border-bottom: none;
            }

            tbody td[colspan="4"] {
                text-align: right;
            }

            tbody td span {
                margin-right: 5px;
            }
        }

        .or-appearance-dn {
            margin-bottom: 20px;
        }

        .btn-dn {
            position: absolute;
            top: 27px;
            right: 55px;
            left: auto;
            outline: 0;
        }

        .tooltip {
            &[data-title]:hover::after {
                @include font-normal;
                content: attr(data-title);
                padding: 2px 8px;
                color: $state-info-text;
                position: absolute;
                margin-top: -20px;
                margin-left: -10px;
                white-space: nowrap;
                z-index: 20;
                border-radius: 3px;
                border: 1px solid $state-info-border;
                background-color: $state-info-bg;
            }

            &.username[data-title]:hover::after {
                margin-left: -200px;
            }
        }
    }
}

.btn-comment.btn-dn {
    cursor: pointer;

    .icon {
        opacity: 0.9;

        // this is the "none" state
        @extend .fa-comment-o;
    }

    &.new,
    &.updated,
    &.closed,
    &.closed-modified {
        .icon {
            @extend .fa-comment;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &.new {
        color: $state-dangerest-text;

        .icon {
            opacity: 0.5;
        }
    }

    &.updated {
        opacity: 1;
        color: orange;

        .icon {
            opacity: 0.7;
        }
    }

    &.invalid {
        @include transition-fast;

        color: $state-dangerest-text;

        .icon {
            font-weight: bold;
        }
    }

    &.closed {
        color: black;
        opacity: 1;

        .icon {
            opacity: 1;
        }
    }

    &.closed-modified {
        opacity: 1;

        .icon {
            opacity: 0.5;
        }
    }
}


// small screens
@media screen and (max-width: 500px) {
    .or-comment-widget {
        &__content {
            &__history {
                thead td {
                    padding-left: 15px;
                    width: 70px;

                    &:nth-of-type(2) {
                        width: 80px;
                    }
                }
            }
        }
    }
}

// Right-to-left scripts
.or[dir="rtl"] {
    .btn-dn {
        left: 55px;
    }

    .or-comment-widget {
        &__content {
            &__query-btns {
                .btn+.btn {
                    margin-left: auto;
                    margin-right: 20px;
                }
            }

            &__history {
                tbody td[colspan="4"] {
                    text-align: left;
                }
            }

            &__user {
                &__dn-assignee {
                    select {
                        margin-left: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
