// background of default button
$secondary-color: #eeeeee;

.or .or-repeat .repeat-number {
    display: none;
}

// centering of image labels
.or .question-label~img {
    max-width: 90%;
    max-height: inherit;
}

// headless views
.headless {
    //background-image: repeating-linear-gradient(45deg, #ccc, #ccc 30px, #dbdbdb 30px, #dbdbdb 60px);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='110px'><text x='0' y='15' fill='gray' font-size='20'>headless</text></svg>");
}

// readonly and note-only views
.oc-view,
.touch .oc-view {
    .form-progress {
        display: none;
    }

    // hover style of radiobuttons and checkboxes
    .option-wrapper:not(.or-comment-widget__content__user__dn-notify) > label:hover {
        background: inherit !important;
    }

    // suppress focus style, for most form controls except for discrepancy note controls
    select:not([name=dn-assignee]), textarea:not([name=dn-comment]), input:not([name=dn-notify], [name=dn-comment]),
    .draw-widget__body__canvas {
        &:focus {
            box-shadow: inherit !important;

            &:not(:checked) {
                border-color: $input-border !important;
            }
        }
    }

    // suppress focus style for pulldown widgets
    a:focus {
        outline: 0 !important;
    }

    // suppress image grid focus style
    input:focus ~ .active {
        box-shadow: inherit !important;
        border: none !important;
    }
}

// Error messages on groups (which is a feature that doesn't exist in Enketo Express and Enketo Core)
.or-group, .or-group-data {
    &.invalid-relevant {
        border: 2px solid $state-danger-text;

        .or-repeat {
            background: transparent;
        }

        .or-relevant-msg {
            padding: 4px 8px;
        }

        // only show relevant error message that belong to groups (not questions)
        > .or-relevant-msg {
            display: block;
        }

        .or-repeat,
        .or-group,
        .or-group-data {
            > .or-relevant-msg {
                display: block;
            }
        }

        // hide constraint and required messages that are descendants of an 
        // irrelevant group
        .or-constraint-msg.active,
        .or-required-msg.active {
            display: none;
        }
    }
}

//IE11 fixes
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    // Fix alignment of OC form footer buttons in IE11
    .form-footer__content__main-controls::before {
        display: block;
        content: ' ';
        width: 100%;
        height: 1px;
    }

    .or-comment-widget {
        &__content {
            &__user {
                // workaround issue with lining up dn user fields and buttons
                // making use of the fact that IE11 users will not be using very small screens
                // so responsiveness can be broken.
                width: 80%;
            }
            &__query-btns {
                min-width: 200px;
            }
        }
    }
}
