.or-appearance-dn {
    width: 100% !important;
    flex: 100% !important;

    &.printified {
        display: inherit !important;

        input {
            display: none;
        }

        table.temp-print {
            order: 5;
        }

        &::after {
            content: none;
        }
    }
}

.or.print-relevant-only {

    //.question.or-branch.disabled,
    .or-branch.disabled {
        display: inherit;

        &.question:not(.or-appearance-dn):not(.printified),
        .question:not(.or-appearance-dn):not(.printified) {
            display: none;
        }
    }

    .or-comment-widget__content__history__row__start__username {
        border: none;
        height: 25px;
        line-height: 25px;
    }

    .or-comment-widget__content__history__row__main {
        border: none;
        padding: 0;
    }

    .or-comment-widget__content__history__row__main:before, .or-comment-widget__content__history__row__main:after {
        opacity: 0;
    }
}

.btn-dn {
    display: none;
}