.or-appearance-dn {
    width: 100% !important;
    flex: 100% !important;
    &.printified {
        display: inherit !important;
        input {
            display: none;
        }
    }
}

.btn-dn {
    display: none;
}
