// This is fixed upstream already and in the oc `develop` branch.
// This file is temporary to fix `master` before it gets those upstream fixes merged in.

.or .or-appearance-likert .option-wrapper {
    >label {
        @include flex-direction(column-reverse);
        justify-content: flex-end;
        margin-bottom: inherit;

        input[type=radio],
        input[type=checkbox] {
            margin-top: inherit;
        }
    }
}
